[submodule "schoolable-frontend"]
	path = schoolable-frontend
	url = https://ezraobiwale@bitbucket.org/klipboarderp/schoolable-frontend.git
[submodule "schoolable-backend"]
	path = schoolable-backend
	url = https://ezraobiwale@bitbucket.org/klipboarderp/schoolable-backend.git
[submodule "allpay"]
	path = allpay
	url = https://ezraobiwale@bitbucket.org/klipboarderp/allpay.git
[submodule "core"]
	path = core
	url = https://ezraobiwale@bitbucket.org/klipboarderp/core.git
